In [17]:
import pandas 
from os import listdir
from os.path import isfile, join

def limpaDf(df):
        new = df[["Ação Orçamentária", "Município", "Valor Transferido"]].copy() 
        return new

In [41]:

path = r"C:\Users\aaron\Documents\Code\pibit\dados\Transferencias 2016"
directory = listdir(path)
all_data_frames = []


for file in directory:
    file_path = path + "\\" + file
    print(file_path)
    df = pandas.read_csv( file_path ,  delimiter=";", encoding="utf-8-sig")
    df = limpaDf(df)
    all_data_frames.append(df)

acoes2016 = pandas.concat(all_data_frames)

C:\Users\aaron\Documents\Code\pibit\dados\Transferencias 2016\acao 00PI 2016 1.csv
C:\Users\aaron\Documents\Code\pibit\dados\Transferencias 2016\acao 00PI 2016 2 (jul - set).csv
C:\Users\aaron\Documents\Code\pibit\dados\Transferencias 2016\acao 00PI 2016 3 (out - dez).csv
C:\Users\aaron\Documents\Code\pibit\dados\Transferencias 2016\acao 0509 2016.csv
C:\Users\aaron\Documents\Code\pibit\dados\Transferencias 2016\acao 0515  2016 1 (jan - jun).csv
C:\Users\aaron\Documents\Code\pibit\dados\Transferencias 2016\acao 0515  2016 2 (jul - dez).csv
C:\Users\aaron\Documents\Code\pibit\dados\Transferencias 2016\acao 0969 2016 1 (jan - jun).csv
C:\Users\aaron\Documents\Code\pibit\dados\Transferencias 2016\acao 0969 2016 2 (jul - set).csv
C:\Users\aaron\Documents\Code\pibit\dados\Transferencias 2016\acao 0969 2016 3 (out - dez).csv
C:\Users\aaron\Documents\Code\pibit\dados\Transferencias 2016\acao 0c33 2016 1 (jan - abr).csv
C:\Users\aaron\Documents\Code\pibit\dados\Transferencias 2016\acao 0c33 2016 2 (mai - ago).csv
C:\Users\aaron\Documents\Code\pibit\dados\Transferencias 2016\acao 0c33 2016 3 (set - dez).csv
C:\Users\aaron\Documents\Code\pibit\dados\Transferencias 2016\acao 0E36 2016 1 (jan - abr).csv
C:\Users\aaron\Documents\Code\pibit\dados\Transferencias 2016\acao 0E36 2016 2 (maio - ago).csv
C:\Users\aaron\Documents\Code\pibit\dados\Transferencias 2016\acao 0E36 2016 3 (set - dez).csv
C:\Users\aaron\Documents\Code\pibit\dados\Transferencias 2016\acao 0E53 2016.csv
C:\Users\aaron\Documents\Code\pibit\dados\Transferencias 2016\acao 12ku 2016.csv
C:\Users\aaron\Documents\Code\pibit\dados\Transferencias 2016\acao 12kv 2016.csv
C:\Users\aaron\Documents\Code\pibit\dados\Transferencias 2016\acao 20rp 2016.csv
C:\Users\aaron\Documents\Code\pibit\dados\Transferencias 2016\acao 214V 2016.csv
C:\Users\aaron\Documents\Code\pibit\dados\Transferencias 2016\acao 8790 2016.csv
C:\Users\aaron\Documents\Code\pibit\dados\Transferencias 2016\acao_00OW_2016.csv

In [43]:
acoes2016.to_csv(r"C:\Users\aaron\Documents\Code\pibit\dados\dados limpos\acoes2016.csv")

In [46]:
file_path =  r"C:\Users\aaron\Documents\Code\pibit\dados\dados limpos\acoes2016.csv"
acoes = pandas.read_csv( file_path ,  delimiter=",", encoding="utf-8-sig")

In [58]:
import pandasql as ps

municipios = acoes[["Município"]].copy()

municipios = municipios.drop_duplicates(subset="Município")

In [63]:
municipios_list = list(municipios["Município"])

for municipio in municipios_list :
    query = "select * from acoes where Município = " + municipio
    df_municipio = ps.sqldf(query, locals())
    
    acoes2016.to_csv(r"C:\Users\aaron\Documents\Code\pibit\dados\dados limpos\acoes-municipio" + municipio + ".csv")

['SÃO DOMINGOS DO CARIRI', 'COXIXOLA', 'PASSAGEM', 'CARAÚBAS', "OLHO D'ÁGUA", 'SÃO JOSÉ DOS CORDEIROS', 'AMPARO', 'PARARI', 'VISTA SERRANA', 'MATO GROSSO', 'QUIXABÁ', 'CACIMBA DE AREIA', 'VÁRZEA', 'AREIA DE BARAÚNAS', 'SANTO ANDRÉ', 'EMAS', 'FREI MARTINHO', 'ZABELÊ', 'RIACHO DE SANTO ANTÔNIO', 'SANTA INÊS', 'SERRARIA', 'SOSSÊGO', 'SÃO JOSÉ DO BONFIM', "MÃE D'ÁGUA", 'PRATA', 'PEDRA BRANCA', 'GURJÃO', 'VIEIRÓPOLIS', 'LAGOA', 'SÃO JOSÉ DE PRINCESA', 'SÃO BENTINHO', 'CARRAPATEIRA', 'NOVA PALMEIRA', 'SANTA TERESINHA', 'CURRAL VELHO', 'LASTRO', 'SÃO JOSÉ DO BREJO DO CRUZ', 'SERRA REDONDA', 'SÃO DOMINGOS', 'SANTANA DE MANGUEIRA', 'OURO VELHO', 'CATURITÉ', 'SERRA GRANDE', 'SÃO JOSÉ DE ESPINHARAS', 'BOM SUCESSO', 'MATINHAS', 'BOM JESUS', 'BORBOREMA', 'TENÓRIO', 'ALGODÃO DE JANDAÍRA', 'SALGADINHO', 'APARECIDA', 'JUNCO DO SERIDÓ', 'NATUBA', 'CAJAZEIRINHAS', 'LOGRADOURO', 'BARAÚNA', 'CONDADO', 'MONTADAS', 'PILÕEZINHOS', 'IGARACY', 'BREJO DOS SANTOS', 'SERRA DA RAIZ', 'DUAS ESTRADAS', 'OLIVEDOS', 'SÃO JOSÉ DO SABUGI', 'IBIARA', 'SÃO MIGUEL DE TAIPU', 'SÃO JOSÉ DE CAIANA', 'PEDRO RÉGIS', 'ASSUNÇÃO', 'RIACHÃO', 'DESTERRO', 'SANTA CRUZ', 'CASSERENGUE', 'BOA VENTURA', 'CONGO', 'SANTANA DOS GARROTES', 'MALTA', 'RIACHÃO DO BACAMARTE', 'CABACEIRAS', 'SERTÃOZINHO', 'SERRA BRANCA', 'CAMALAÚ', 'ALCANTIL', 'LIVRAMENTO', 'TRIUNFO', 'SÃO JOÃO DO CARIRI', 'AGUIAR', 'SANTA CECÍLIA', 'NAZAREZINHO', 'DAMIÃO', 'PILÕES', 'BOA VISTA', 'JOCA CLAUDINO', 'SÃO JOÃO DO TIGRE', 'JUAREZ TÁVORA', 'SÃO FRANCISCO', 'BONITO DE SANTA FÉ', 'JERICÓ', 'DIAMANTE', 'RIACHÃO DO POÇO', 'PIRPIRITUBA', 'SÃO JOSÉ DA LAGOA TAPADA', 'CALDAS BRANDÃO', 'JURIPIRANGA', 'PUXINANÃ', 'MONTE HOREBE', 'BARRA DE SANTANA', 'IMACULADA', 'MANAÍRA', 'CACIMBAS', 'CAIÇARA', 'AREIAL', 'CUITÉ DE MAMANGUAPE', 'MULUNGU', 'CACHOEIRA DOS ÍNDIOS', 'SOLEDADE', 'TAPEROÁ', 'CATINGUEIRA', 'NOVA OLINDA', 'NOVA FLORESTA', 'POÇO DANTAS', 'SERIDÓ', 'BARRA DE SÃO MIGUEL', 'ITATUBA', 'PEDRA LAVRADA', 'CAPIM', 'SANTA HELENA', 'MATURÉIA', 'GADO BRAVO', 'TACIMA', 'BELÉM DO BREJO DO CRUZ', 'ARARA', 'RIACHO DOS CAVALOS', 'SÃO SEBASTIÃO DE LAGOA DE ROÇA', 'SÃO JOSÉ DOS RAMOS', 'COREMAS', 'ITAPORANGA', 'POÇO DE JOSÉ DE MOURA', 'MARIZÓPOLIS', 'MATARACA', 'BERNARDINO BATISTA', 'PAULISTA', 'SÃO JOSÉ DE PIRANHAS', 'SOBRADO', 'SÃO MAMEDE', 'CUITEGI', 'MASSARANDUBA', 'ÁGUA BRANCA', 'CUBATI', 'SANTA LUZIA', 'PRINCESA ISABEL', 'MARCAÇÃO', 'UIRAÚNA', 'ITABAIANA', 'PIANCÓ', 'BARRA DE SANTA ROSA', 'CUITÉ', 'BELÉM', 'JACARAÚ', 'BREJO DO CRUZ', 'ITAPOROROCA', 'AROEIRAS', 'GURINHÉM', 'LAGOA DE DENTRO', 'BAÍA DA TRAIÇÃO', 'DONA INÊS', 'PILAR', 'UMBUZEIRO', 'AREIA', 'MONTEIRO', 'JURU', 'MARI', 'CONCEIÇÃO', 'FAGUNDES', 'CRUZ DO ESPÍRITO SANTO', 'SOLÂNEA', 'REMÍGIO', 'CACIMBA DE DENTRO', 'ARAÇAGI', 'ALAGOA NOVA', 'ALAGOINHA', 'SÃO JOÃO DO RIO DO PEIXE', 'CATOLÉ DO ROCHA', 'SALGADO DE SÃO FÉLIX', 'LUCENA', 'BOQUEIRÃO', 'JUAZEIRINHO', 'TAVARES', 'POCINHOS', 'SUMÉ', 'BANANEIRAS', 'PICUÍ', 'MOGEIRO', 'TEIXEIRA', 'INGÁ', 'POMBAL', 'ALHANDRA', 'ARARUNA', 'RIO TINTO', 'SAPÉ', 'CAAPORÃ', 'PITIMBU', 'ALAGOA GRANDE', 'SÃO BENTO', 'LAGOA SECA', 'ESPERANÇA', 'SOUSA', 'CONDE', 'PEDRAS DE FOGO', 'CAJAZEIRAS', 'MAMANGUAPE', 'QUEIMADAS', 'GUARABIRA', 'CABEDELO', 'BAYEUX', 'PATOS', 'SANTA RITA', 'CAMPINA GRANDE', 'JOÃO PESSOA', 'SÃO SEBASTIÃO DO UMBUZEIRO', 'CURRAL DE CIMA', 'Não se aplica']

PandaSQLException: (sqlite3.OperationalError) near "DOMINGOS": syntax error [SQL: 'select * from acoes where Município = SÃO DOMINGOS DO CARIRI'] (Background on this error at: http://sqlalche.me/e/e3q8)